<app-header></app-header>
<div class="landing-main">
  <div class="logo">
    <img src="./assets/images/" alt="logo" />
  </div>
  <div class="inner-content">
    <div class="content">
      <span class="title"
        >One App to Streamline Your Stylish Platform for Buying and Selling
      </span>
      <span class="sub-txt"
        >Connect-Me is a platform on which you can buy and sell Online! Use the
        City selector to find the deals close to you.</span
      >
      <button nz-button>Get Started</button>
    </div>
  </div>

  <div class="bottom-container">
    <!-- <img class="bottom" src="./assets/images/" alt="img" />
    <img class="bottom-mobile" src="./assets/images/" alt="img" /> -->
  </div>
</div>
<app-footer></app-footer>
