<div class="item-category-main">
  <div class="main-title">
    <span>{{ subCategory }}</span>
  </div>

  <div class="item-main" nz-row [nzGutter]="[30, 20]">
    @if (postData.length > 0) {

    <div
      class="items"
      nz-col
      nzMd="6"
      nzLg="6"
      nzSm="24"
      *ngFor="let data of postData"
    >
      <app-item-card [itemList]="data"></app-item-card>
    </div>

    } @else {
    <div
      class="items"
      nz-col
      nzMd="6"
      nzLg="6"
      nzSm="24"
      *ngFor="let data of skeletonList"
    >
      <app-skeleton-loader></app-skeleton-loader>
    </div>
    }
  </div>
  <div class="see-more" *ngIf="!isShowAll">
    <span (click)="open(subCategory)">See More</span>
  </div>
</div>
