<div class="common-modal-heading">
  <div class="head">
    <span>Upload Images</span>
  </div>

  <div class="close">
    <span
      (click)="close()"
      class="close-icon"
      nz-icon
      nzType="close"
      nzTheme="outline"
    ></span>
  </div>
</div>

<div class="supportingimg">
  <div class="part1">
    <div class="upload-section">
      <nz-upload
        nzType="drag"
        [nzMultiple]="true"
        [nzShowUploadList]="false"
        [nzCustomRequest]="customUpload"
        [nzBeforeUpload]="beforeUpload"
        class="upload"
        nzAccept="image/png, image/jpeg, image/jpg"
      >
        <div class="imggrp">
          <div class="arrow-img">
            <img src="../../../../../assets/icons/upload.svg" alt="upload" />
          </div>
          <div class="drag">
            <span
              >drag and drop image to upload <br />
              or</span
            >
          </div>
          <div class="btn_row">
            <button class="btn">Browse Image</button>
          </div>
          <div class="imgtype">
            <span>SUPPORTED FILES: </span>
            <span>JPEG, JPG, AND PNG </span>
          </div>
        </div>
      </nz-upload>
      <!-- <div class="btn_row">
        <button class="btn btn_photo">
          <img src="../../../../../../assets/icons/camera.svg" />{{
            !showWebcam ? "Take Photo" : "Close"
          }}
        </button>
      </div> -->
    </div>
  </div>
  <div class="part2" nz-col nzMd="12" nzXs="24">
    <div class="progress-content">
      <div *ngIf="img_url && !url">
        <img [src]="img_url" class="upload_image" />
      </div>
      <div class="progress-function" *ngIf="list?.length! > 0" nz-row>
        <div class="select-all" nz-col>
          <span>Select All :</span
          ><label
            nz-checkbox
            [(ngModel)]="allChecked"
            (nzCheckedChange)="log($event)"
          ></label>
        </div>
        <div class="remove-all" nz-col>
          <div class="all-img">
            <img
              src="../../../../../../assets/icons/downloadImage.svg"
              (click)="downloadAll()"
            />
          </div>

          <div class="all-img">
            <img
              *ngIf="addType == 'Add'"
              src="../../../../../../assets/icons/Delete.svg"
              (click)="clearList()"
            />
          </div>
        </div>
      </div>
      <!-- <div class="progress-function" *ngIf="list?.length! > 0"></div> -->
      <div class="progress-column" *ngIf="list && list.length > 0">
        <div *ngFor="let li of list; let i = index" class="single-progress">
          <div class="img-grp">
            <div>
              <label
                nz-checkbox
                [nzChecked]="isChecked"
                [ngModel]="isChecked"
                (ngModelChange)="pushtoList(li)"
              ></label>
            </div>
            <div>
              <img [src]="li.url" class="upload_image" />
            </div>
            <div class="progress-name">
              <div class="img-name">
                <span>{{ li.name }}</span>
              </div>
            </div>
          </div>
          <div class="option-row">
            <div class="all-img">
              <img
                src="../../../../../../assets/icons/downloadImage.svg"
                (click)="downloadFile(li)"
              />
            </div>
            <div class="all-img">
              <img
                *ngIf="li.file != null"
                src="../../../../../../assets/icons/Delete.svg"
                (click)="removeImage(i)"
              />
            </div>
          </div>
        </div>
      </div>
      <div style="text-align: center">
        <div class="camera-close">
          <br />
          <!-- <div *ngIf="showWebcam" class="actionBtn" title="Take Picture">
            <button class="btn btn_photo">Take Photo</button>
          </div> -->
          <!-- <div>
              <img [src]="capturedImagePreview" />
            </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
