<div class="footer">
  <div class="about_connetx" nz-flex [nzVertical]="true">
    <div class="logo">
      <!-- <img src="./assets/images/connectx.png" alt="connectx" /> -->
      <span>Connect-Me</span>
    </div>
    <span>
      "Connect-Me has the widest selection of items all over Sri Lanka and
      across by different categories. Whether you're looking for a car, mobile
      phone, house, computer or pet, you will find the best deal on Connect-Me."
    </span>
  </div>

  <div class="services">
    <span>Navigation</span>
    <span
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</span
    >
    <span
      class="nav-link"
      routerLink="/category/electronics"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Electronics</span
    >

    <span
      routerLink="/category/vehicle"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Vehicle</span
    >

    <span
      routerLink="/category/fashion"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Fashion & Beauty</span
    >

    <span
      routerLink="/category/property"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Property</span
    >

    <span
      routerLink="/category/pets"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Pets</span
    >

    <span
      routerLink="/category/others"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Other</span
    >
  </div>

  <div class="services">
    <span>Support</span>
    <span
      routerLink="/aboutus"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >About Us</span
    >
    <span
      routerLink="/contactus"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Contact Us</span
    >
    <span>Terms & Conditions</span>
    <span>Privacy & Security</span>
  </div>

  <div class="social">
    <span>Follow Us On Social Media</span>
    <div class="icons">
      <img src="./assets/images/social/fb.png" alt="Facebook" />
      <img src="./assets/images/social/linkedIn.png" alt="Linked-In" />
      <img src="./assets/images/social/insta.png" alt="Instagram" />
      <img src="./assets/images/social/twitter.png" alt="Twitter" />
    </div>
  </div>
</div>
