<div class="footer">
  <div class="about_connetx" nz-flex [nzVertical]="true">
    <div class="logo">
      <!-- <img src="./assets/images/connectx.png" alt="connectx" /> -->
      <span>Connect-X</span>
    </div>
    <span>
      "Connect-X has the widest selection of items all over Sri Lanka and across
      more than 50 different categories. Whether you're looking for a car,
      mobile phone, house, computer or pet, you will find the best deal on
      Connect-X. "
    </span>
  </div>

  <div class="services">
    <span>Navigation</span>
    <span>Home</span>
    <span>Electronics</span>
    <span>Vehicle</span>
    <span>Property</span>
    <span>Pets</span>
    <span>toys</span>
    <span>Other</span>
  </div>

  <div class="services">
    <span>Support</span>
    <span>About Us</span>
    <span>Contact Us</span>
    <span>Terms & Conditions</span>
    <span>Privacy & Security</span>
  </div>

  <div class="social">
    <span>Follow Us On Social Media</span>
    <div class="icons">
      <img src="./assets/images/social/fb.png" alt="Facebook" />
      <img src="./assets/images/social/linkedIn.png" alt="Linked-In" />
      <img src="./assets/images/social/insta.png" alt="Instagram" />
      <img src="./assets/images/social/twitter.png" alt="Twitter" />
    </div>
  </div>
</div>
