<div class="table-main">
  <div class="title">
    <span>Your Posted Adds</span>
  </div>
  <div class="table">
    <nz-table #middleTable nzSize="middle" [nzData]="data">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        @for (data of middleTable.data; track data) {
        <tr>
          <td>{{ data.name }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.address }}</td>
        </tr>
        }
      </tbody>
    </nz-table>
  </div>
</div>
