@import ../../../../../assets/sass/index

.table-main
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    .title
        margin-top: 30px
        span
            color: #000
            font-size: 30px
    .table
        width: 900px
        margin-top: 60px
        height: 50vh
