<div class="property-card-main">
  <div class="image-container">
    <span class="status">Active</span>

    <div class="img" (click)="gotoProperty()">
      <img src="./assets/images/card-img3.jpg" alt="property" />
    </div>
  </div>

  <div class="property-details">
    <div class="id-details">
      <span>Colombo</span>
      <span>Western Province</span>
    </div>

    <div class="price-details">
      <span>Item Name</span>
      <span>LKR 1,547,068</span>
    </div>

    <div class="property-type">
      <span class="type-detail">Description</span>
    </div>
  </div>
</div>
