<div class="item-card-main">
  <div class="image-container">
    <span class="status">Active</span>

    <div class="item-image">
      <img [src]="itemList.imageList[0].url" alt="image" />
    </div>
  </div>

  <div class="item-details">
    <div class="id-details">
      <span>{{ itemList.city }}</span>
      <span>Western Province</span>
    </div>

    <div class="price-details">
      <span>{{ itemList.itemName }}</span>
      <span>{{ itemList.price }}</span>
    </div>

    <div class="item-type">
      <span (click)="showMoreDetails(itemList, 'customer')" class="type-detail"
        >Show More Details</span
      >
    </div>
  </div>
</div>
