@import '../../../../assets/sass/index'
.footer-main
    position: sticky
    top: 100%
.inner-content
    padding-bottom: 40px
    padding-top: 90px
    min-height: 100vh
    @media screen and ( max-width: 992px )
        padding-top: 80px
