@import '../../../../../assets/sass/index'
::ng-deep.supportingimg
    display: flex
    justify-content: space-between
    // align-items: center
    align-self: stretch
    position: relative
    border-radius: 0px 0px 8px 8px
    background: #FFF

    @include media_query_all('column-reverse',null,'row',null,null,'row',"flex-direction")
    .close-icon
        position: absolute
        right: 0
        @include media_query_all('-16%',null,null,null,null,'-13%',"top")
    .part1
        display: flex
        @include media_query_all('100%',null,null,390,null,390,"width")
        // @include media_query_all(300,null,null,null,null,453,"height")
        height: auto
        @include media_query_all(16,null,null,null,null,16,"padding-top")
        @include media_query_all(16,null,null,null,null,16,"padding-bottom")
        @include media_query_all('16px',null,null,null,null,16,"padding-right")
        @include media_query_all('16px',null,null,null,null,16,"padding-left")
        flex-direction: column
        align-items: center
        border-radius: var(--space-4, 16px)
        border: 2px dashed #5F9EA0
        background: #FFF
        box-shadow: 0px 0px 100px 12px rgba(0, 0, 0, 0.04)
        .upload-section
            display: flex
            flex-direction: column
            @include media_query_all(30,null,null,null,null,30,"gap")
        .upload
            width: 100%
        .ant-upload.ant-upload-drag
            border: none
            background: #ffff
        .imggrp
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            gap: 8px
            img
                @include media_query_all(100,null,null,null,null,113,"min-height")
                @include media_query_all(100,null,null,null,null,113,"width")
            .drag
                display: flex
                justify-content: center
                align-items: center
                gap: 8px
                span
                    color: #444849
                    text-align: center
                    font-family: Coolvetica
                    @include media_query_all_im(20,null,null,null,null,20,"font-size")
                    font-weight: 400
    .part2
        .progress-content
            @include media_query_all('auto',null,445,null,null,445,"min-height")
.btn_row
    width: 100%
.btn
    border-radius: 8px
    background: #5F9EA0
    display: flex
    justify-content: center
    align-items: center
    color: white
    text-align: center
    @include media_query_all('20px',null,null,null,null,20,"font-size")
    @include media_query_all(30,null,null,null,null,48,"height")
    font-weight: 600
    width: 100%
    @include media_query_all(10,null,null,null,null,10,"gap")
    border: 1px solid #5F9EA0
    cursor: pointer
    @include media_query_all(15,null,null,null,null,15,"margin-bottom")
    @include media_query_all(20,null,null,null,null,16,"padding-top")
    @include media_query_all(20,null,null,null,null,16,"padding-bottom")
    @include media_query_all(16,null,null,null,null,16,"padding-right")
    @include media_query_all(16,null,null,null,null,16,"padding-left")
    justify-content: center
    align-items: center
    &:disabled
        cursor: not-allowed
.imgtype
    display: flex
    flex-direction: column
    color: #808080
    text-align: center
    font-family: Inter
    @include media_query_all_im('11px',null,null,null,null,11,"font-size")
    font-weight: 600
::ng-deep.progress-bar
    width: 100%
    .ant-progress-bg
        background-color: #5F9EA0
.single-progress
    display: flex
    justify-content: space-between
    align-items: center
    gap: 8px
    @include media_query_all(0,null,null,null,null,0,"padding-top")
    @include media_query_all(0,null,null,null,null,0,"padding-bottom")
    @include media_query_all(0,null,null,null,null,0,"padding-right")
    @include media_query_all('3px',null,null,null,null,'5px',"padding-left")
.progress-name
    // @include media_query_all('143px',null,null,null,null,143,"max-width")
    .img-name
        // word-break: break-all
        span
            color: #444646
            font-weight: 500
            @include media_query_all_im('16px',null,null,null,null,16,"font-size")
.progress-function
    display: flex
    justify-content: space-between
    @include media_query_all(0,null,null,null,null,0,"padding-top")
    @include media_query_all(0,null,0,null,null,0,"padding-right")
    @include media_query_all(0,null,null,null,null,0,"padding-bottom")
    @include media_query_all('10px',null,null,null,null,'10px',"padding-left")
    // @include media_query_all_im('19px',null,null,null,null,'19px',"width")
    .select-all
        display: flex
        flex-direction: row
        gap: 8px
        span
            color: #444646
            font-weight: 500
            @include media_query_all_im(20,null,null,null,null,16,"font-size")
    .remove-all
        display: flex
        gap: 8px
.progress-column
    display: flex
    flex-direction: column
    @include media_query_all_im(10,null,null,null,null,25,"gap")
    @include media_query_all('210px',null,null,null,null,'40dvh',"height")
    // @include media_query_all(15,null,0,null,null,null,"padding-right")
    // @include media_query_all(15,null,0,null,null,null,"padding-left")
    // @include media_query_all(30,null,30,null,null,null,"padding-top")
    overflow-y: auto
    overflow-x: hidden
    &::-webkit-scrollbar
        width: 0px
    &::-webkit-scrollbar-thumb
        background: #989898
        border-radius: 5px

    // display: flex
    // flex-direction: column
    // @include media_query_all_im(30,null,25,null,null,25,"gap")
    // @include media_query_all(15,null,0,null,null,null,"padding-right")
    // @include media_query_all(15,null,0,null,null,null,"padding-left")
    // @include media_query_all(30,null,30,null,null,null,"padding-top")
    // @include media_query_all('150px',null,null,unset,null,null,"height")
    // overflow-y: scroll
    // &::-webkit-scrollbar
    //     display: none

.progress-content
    // @include media_query_all(10,null,null,null,null,24,"padding")
    @include media_query_all('24px',null,null,24,null,null,"padding-top")
.remove-all
    @include media_query_all_im(10,null,null,null,null,24,"padding-bottom")
.btn_photo
    background: #ffff
    color: #6CB3B5
.upload_image
    @include media_query_all('38px',null,null,null,null,38,"height")
    @include media_query_all('44px',null,null,null,null,44,"width")
    object-fit: contain

@media screen and ( max-width: 768px )
    ::ng-deep .supporting-img-model
        margin: 0
        max-width: 100vw !important
        height: 100vh
        position: relative
        padding: 0
        top: 0
        .ant-modal-content
            border-bottom-left-radius: 0
            border-bottom-right-radius: 0
            position: absolute
            // top: 216px
            transform: translateY(100%)
            right: 0
            left: 0
            bottom: 0
            margin: 0
            animation: bottomToUp 0.3s ease-out forwards
        .supportingimg
            // position: relative
            // .close-icon
            //     position: absolute
            //     right: 0
            //     top: -59px
            .imggrp
                .arrow-img
                    display: none
                .drag
                    display: none
            .btn_row
                .btn
                    height: 42px
            .btn_photo
                height: 42px

    .supportingimg .part1 .upload-section
        gap: 0
        width: 100%
.img-grp
    display: flex
    align-items: center
    gap: 8px
    // @include media_query_all('8px',null,null,null,null,'330px',"width")
.option-row
    display: flex
    gap: 8px
    // @include media_query_all('28px',null,null,null,null,60,"width")
.all-img
    width: 20px
